<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}Budget Tracker{% endblock %}</title>
</head>
<body>
<nav>
    <a href="/" class="{{ 'active' if request.path == '/' else '' }}"><kbd>[H]</kbd>ome</a>
    <a href="/transactions" class="{{ 'active' if request.path == '/transactions' else '' }}"><kbd>[T]</kbd>ransactions</a>
    <a href="/transactions/add" class="{{ 'active' if request.path == '/transactions/add' else '' }}"><kbd>[N]</kbd>ew
        Transaction</a>
    <a href="/budgets" class="{{ 'active' if request.path == '/budgets' else '' }}"><kbd>[B]</kbd>udgets</a>
    <a href="/budgets/add" class="{{ 'active' if request.path == '/budgets/add' else '' }}"><kbd>[G]</kbd>enerate Budget</a>
</nav>

<div class="container">
    {% block content %}
        Just the base template.
    {% endblock %}
</div>
<script type="module" src="/static/js/app.js"></script>
</body>
</html>