{% extends "base.html" %}

{% block content %}
    <div class="list-container">
        <div class="list-budgets-header">
            <div class="header-part">Created</div>
            <div class="header-part">Name</div>
            <div class="header-part">Limit</div>
            <div class="header-part">Categories</div>
            <div class="header-part"></div>
            <div class="header-part"></div>
        </div>
        <div class="list-budgets-content"></div>
    </div>
{% endblock %}