{% extends "base.html" %}

{% block content %}
    <pre>
     ___         _    _
    | _ )_  _ __| |__| |
    | _ \ || / _` / _` |
    |___/\_,_\__,_\__,_|
    </pre>
    <h2>Your Finance Buddy</h2>
    <h3>Manage your finances with a retro twist.</h3>
    <p>Budd is a personal finance tracker with a terminal-inspired interface that makes managing money fun and
        efficient. Track income and expenses, create budgets, and navigate everything with keyboard shortcuts.</p>
    <p>This project is still a work in progress...</p>
{% endblock %}