{% extends "base.html" %}

{% block content %}
    <div class="new-transaction-container">
        <form class="transaction-form">
            <div class="form-card">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" min="0" step="0.01" autocomplete="off" required>
            </div>
            <div class="form-card">
                <label for="kind">Type</label>
                <div class="custom-select" id="kind-select">
                    <div class="select-selected"></div>
                    <div class="select-items select-hide"></div>
                </div>
                <input type="hidden" id="kind" name="kind" required>
            </div>
            <div class="form-card" id="category-card">
                <label>Category</label>
                <div class="custom-select" id="category-select" tabindex="0">
                    <div class="select-selected"></div>
                    <div class="select-items select-hide"></div>
                </div>
                <input type="hidden" id="category" name="category" required>
            </div>
            <div class="form-card">
                <label for="notes">Notes</label>
                <textarea id="notes" name="notes" autocomplete="off"></textarea>
            </div>
            <div style="width: 100%;">
                <button type="submit">Add Transaction</button>
            </div>
        </form>
    </div>
{% endblock %}